//GLOBALA INSTÄLLNINGAR

//FONT STORLEKAR DESKTOP
$fontsizeH1: 65px;
$fontsizeH2: 45px;
$fontsizeH3: 40px;
$fontsizeP: 24px;

// FONT STORLEKAR SURFPLATTA
$fontsizeH1_small: 45px;
$fontsizeh2_small: 30px;
$fontsizeH3_small: 24px;
$fontsizeP_small: 16px;

// FONT STORLEK FÖR MOBIL
$fontsizeP_mobile_small: 12px; 

// FONT FAMILJER
$font_fam_ari: Arial;
$font_fam_ver: Verdana;

// FÄRGER
$backgroundC: #E3E7D3;
$backgroundC_btn: #9b4767;
$backgroundC_btn_text: white;

// GRÄNS INSTÄLLNINGAR
$border_setting: 5px solid black;
$border_radius_standard: 35px;
$border_radius_button_standard: 25px;
$margin_bottom_standard: 30px;


// GRUND INSTÄLLNINGAR NÄR SIDAN LADDAS
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


//BODY SEKTION
.container {
    background-image: linear-gradient(to bottom right, $backgroundC, #476C9B);
    display: flex;
    flex-wrap: wrap;
    padding: 45px;
}

// HEADER SEKTION
.header {
    text-align: left;
    margin-bottom: $margin_bottom_standard;
}


.text h1 {
    font-size: $fontsizeH1;
    font-family: $font_fam_ari;
    margin-bottom: $margin_bottom_standard;
}

.text h2 {
    font-size: $fontsizeH2;
    font-family: $font_fam_ari;
    text-align: left;
}

.navbar {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: $margin_bottom_standard;
    width: 100%;
}

.button {
    background-color: $backgroundC_btn;
    border-radius: $border_radius_button_standard;
    color: $backgroundC_btn_text;
    font-size: $fontsizeP;
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

.buttonMail {
    padding: 10px 15px;
    font-size: $fontsizeP;
    background-color:$backgroundC_btn;  
    color: $backgroundC_btn_text;
    text-align: center;
    text-decoration: none;
    border-radius: $border_radius_button_standard;
    width: 200px;
    margin: 10px;
}


// Personligt brev
.personal-letter {
    width: 100%;
    padding: 15px;
    border: $border_setting;
    border-radius: $border_radius_standard;
    background-color: $backgroundC;
    margin-bottom: $margin_bottom_standard;
}

.personal-letter h2 {
    padding: 15px;
    text-align: center;
    font-size: $fontsizeH2;
    font-family: $font_fam_ari;
}

.aboutMeText {
    padding: 15px;
    font-size: $fontsizeP;
    font-family: $font_fam_ver;
}

.lofi-video {
    border-radius: $border_radius_standard;
    width: 100%;
}

// CV PROFIL SEKTION
.cv-profile {
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border: $border_setting;
    border-radius: $border_radius_standard;
    background-color: $backgroundC;
    margin-bottom: $margin_bottom_standard;
}

//CV PROFIL INNEHÅLL

.cv-profile h2 {
    text-align: center;
    font-size: $fontsizeH2;
    font-family: $font_fam_ari;
}

.cv-profile p {
    text-align: center;
    font-size: $fontsizeP;
    font-family: $font_fam_ver;
}

.profile-photo {
    display: flex;
    justify-content: center;
}

.profile-photo img {
    border-radius: $border_radius_standard;
}

.competence-class {
    margin: 25px;
    padding: 25px;
}

.competence-class p {
    text-align: center;
    font-size: $fontsizeP;
    font-family: $font_fam_ver;
    padding: 15px;
}

.competence-class h2 {
    text-align: center;
    font-size: $fontsizeH2;
    font-family: $font_fam_ari;
}

.competence-class h3 {
    text-align: center;
    font-size: $fontsizeH3;
}


// TIDIGARE ARBETSPLATSER
.previous-work {
    display: block;
    width: 100%;
    border: $border_setting;
    border-radius: $border_radius_standard;
    background-color: $backgroundC;
    margin-bottom: $margin_bottom_standard;
}

.previous-work table {
    display: block;
    font-size: $fontsizeP;
    font-family: $font_fam_ari;
    padding: 30px;
}
.previous-work h2 {
    font-size: $fontsizeH2;
    padding: 25px;
}

.previous-work th {
    text-align: left;
    padding: 30px;
    font-size: $fontsizeH3;
}

.previous-work td {
    text-align: left;
    padding: 30px;
}

.previous-work tr {
    padding: 15px;
}
//UTBILDNING
.education {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: $border_setting;
    padding: 30px;
    border-radius: $border_radius_standard;
    background-color: $backgroundC;
    margin-bottom: $margin_bottom_standard;
}

.education #link-to-utbildning-internal {
    font-size: $fontsizeH2;
    font-family: $font_fam_ari;
}
.education h2 {
    font-size: $fontsizeH2;
    font-family: $font_fam_ari;
}

.education h3 {
    font-size: $fontsizeH3;
    font-family: $font_fam_ari;
}

.education h5 {
    font-size: $fontsizeP;
}

.education ul {
    list-style-type: square;
    gap: 15px;
}

.education li {
    margin: 15px;
    font-size: $fontsizeP;
}
// Footer sektion
.footer {
    flex:1;
    flex-direction: column;
}

.contact {
    margin-bottom: 15px;
}

.contact h2 {
    font-size: $fontsizeH2;
}

.contact p {
    font-size: $fontsizeP;
}


.external-links-email {
    display: flex;
    align-items: flex-start;
}

.external-links-email img {
    width: 50px;
    height: 50px;
}

.button-scroll-to-top {
    display: none;
}

@media screen and (max-width: 768px) {

    .button-scroll-to-top{
        display: block;
        position: fixed;
        bottom: 40px;     
        right: 50px;
        z-index: 1000;       
        background-color: $backgroundC_btn;
        border-radius: $border_radius_button_standard;
        color: $backgroundC_btn_text;
        font-size: $fontsizeP;
        padding: 10px 15px;
        font-size: 24px;
        opacity: 0.7;
        text-decoration: none;
    }

    .button {
        background-color: $backgroundC_btn;
        border-radius: $border_radius_button_standard;
        color: $backgroundC_btn_text;
        font-size: $fontsizeP;
        flex: 1;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        padding: 10px 15px;
    }
    
    .text h2 {
        font-size: $fontsizeh2_small;
    }

    .text h1 {
        font-size: $fontsizeH1_small;
    }

    .personal-letter h2 {
        padding: 5px;
        font-size: $fontsizeh2_small;
    }

.aboutMeText {
    padding: 10px;
    font-size: $fontsizeP_small;
}


.lofi-video {
    width: 100%;
}


.previous-work h2 {
    font-size: $fontsizeh2_small;
    padding: 5px;
    text-align: center;
}

.previous-work th {
    font-size: $fontsizeH3_small;
    text-align: center;
}

.previous-work table,
    .previous-work thead,
    .previous-work tbody,
    .previous-work th,
    .previous-work td,
    .previous-work tr {
        display: block;
        width: 100%;
        padding: 15px;
    }

.previous-work h2 {
    font-size: $fontsizeh2_small;
    padding: 5px;
    text-align: center;
}

.typeOfWork  {
    font-family: $font_fam_ari;
}


.cv-profile h2 {
    font-size: $fontsizeh2_small;
}

.cv-profile p {
    font-size: $fontsizeP_small;
}

.cv-profile h3 {
    font-size: $fontsizeH3_small;
}

.education {
    padding: 10px;
}

.education #link-to-utbildning-internal {
    font-size: $fontsizeH2;
}
.education h2 {
    font-size: $fontsizeh2_small;
}

.education h3 {
    font-size: $fontsizeH3_small;
}

.education h5 {
    font-size: $fontsizeP_small;
}

.contact h2 {
    font-size: $fontsizeH3_small;
}

.contact p {
    font-size: $fontsizeP;
}

}

@media screen and (max-width: 400px) {
    .container {
        padding: 5px;
    }

    .aboutMeText {
        padding: 15px;
        font-size: $fontsizeP_mobile_small;
    }

    .lofi-video {
        width: 100%;
    }

    .previous-work table,
    .previous-work thead,
    .previous-work tbody,
    .previous-work th,
    .previous-work td,
    .previous-work tr {
        padding: 5px;
    }

.previous-work h2 {
    font-size: $fontsizeh2_small;
    padding: 5px;
    text-align: center;
}

.previous-work th {
    font-size: $fontsizeH3_small;
    text-align: center;
}

.footer {
    margin-bottom: $margin_bottom_standard;
}

.contact h2 {
    font-size: $fontsizeh2_small;
}

.contact p {
    font-size: $fontsizeP_small;
}

.button {
    background-color: $backgroundC_btn;
    border-radius: $border_radius_button_standard;
    color: $backgroundC_btn_text;
    font-size: $fontsizeP_mobile_small;
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

.buttonMail {
        font-size: $fontsizeP_mobile_small;
    }

    .button-scroll-to-top{
        bottom: 20px;     
        right: 20px; 
    }
}
    