* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  background-image: linear-gradient(to bottom right, #E3E7D3, #476C9B);
  display: flex;
  flex-wrap: wrap;
  padding: 45px;
}

.header {
  text-align: left;
  margin-bottom: 30px;
}

.text h1 {
  font-size: 65px;
  font-family: Arial;
  margin-bottom: 30px;
}

.text h2 {
  font-size: 45px;
  font-family: Arial;
  text-align: left;
}

.navbar {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.button {
  background-color: #9b4767;
  border-radius: 25px;
  color: white;
  font-size: 24px;
  flex: 1;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
}

.buttonMail {
  padding: 10px 15px;
  font-size: 24px;
  background-color: #9b4767;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  width: 200px;
  margin: 10px;
}

.personal-letter {
  width: 100%;
  padding: 15px;
  border: 5px solid black;
  border-radius: 35px;
  background-color: #E3E7D3;
  margin-bottom: 30px;
}

.personal-letter h2 {
  padding: 15px;
  text-align: center;
  font-size: 45px;
  font-family: Arial;
}

.aboutMeText {
  padding: 15px;
  font-size: 24px;
  font-family: Verdana;
}

.lofi-video {
  border-radius: 35px;
  width: 100%;
}

.cv-profile {
  flex-direction: column;
  width: 100%;
  padding: 15px;
  border: 5px solid black;
  border-radius: 35px;
  background-color: #E3E7D3;
  margin-bottom: 30px;
}

.cv-profile h2 {
  text-align: center;
  font-size: 45px;
  font-family: Arial;
}

.cv-profile p {
  text-align: center;
  font-size: 24px;
  font-family: Verdana;
}

.profile-photo {
  display: flex;
  justify-content: center;
}

.profile-photo img {
  border-radius: 35px;
}

.competence-class {
  margin: 25px;
  padding: 25px;
}

.competence-class p {
  text-align: center;
  font-size: 24px;
  font-family: Verdana;
  padding: 15px;
}

.competence-class h2 {
  text-align: center;
  font-size: 45px;
  font-family: Arial;
}

.competence-class h3 {
  text-align: center;
  font-size: 40px;
}

.previous-work {
  display: block;
  width: 100%;
  border: 5px solid black;
  border-radius: 35px;
  background-color: #E3E7D3;
  margin-bottom: 30px;
}

.previous-work table {
  display: block;
  font-size: 24px;
  font-family: Arial;
  padding: 30px;
}

.previous-work h2 {
  font-size: 45px;
  padding: 25px;
}

.previous-work th {
  text-align: left;
  padding: 30px;
  font-size: 40px;
}

.previous-work td {
  text-align: left;
  padding: 30px;
}

.previous-work tr {
  padding: 15px;
}

.education {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 5px solid black;
  padding: 30px;
  border-radius: 35px;
  background-color: #E3E7D3;
  margin-bottom: 30px;
}

.education #link-to-utbildning-internal {
  font-size: 45px;
  font-family: Arial;
}

.education h2 {
  font-size: 45px;
  font-family: Arial;
}

.education h3 {
  font-size: 40px;
  font-family: Arial;
}

.education h5 {
  font-size: 24px;
}

.education ul {
  list-style-type: square;
  gap: 15px;
}

.education li {
  margin: 15px;
  font-size: 24px;
}

.footer {
  flex: 1;
  flex-direction: column;
}

.contact {
  margin-bottom: 15px;
}

.contact h2 {
  font-size: 45px;
}

.contact p {
  font-size: 24px;
}

.external-links-email {
  display: flex;
  align-items: flex-start;
}

.external-links-email img {
  width: 50px;
  height: 50px;
}

.button-scroll-to-top {
  display: none;
}

@media screen and (max-width: 768px) {
  .button-scroll-to-top {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 1000;
    background-color: #9b4767;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    font-size: 24px;
    opacity: 0.7;
    text-decoration: none;
  }
  .button {
    background-color: #9b4767;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text h1 {
    font-size: 45px;
  }
  .personal-letter h2 {
    padding: 5px;
    font-size: 30px;
  }
  .aboutMeText {
    padding: 10px;
    font-size: 16px;
  }
  .lofi-video {
    width: 100%;
  }
  .previous-work h2 {
    font-size: 30px;
    padding: 5px;
    text-align: center;
  }
  .previous-work th {
    font-size: 24px;
    text-align: center;
  }
  .previous-work table,
  .previous-work thead,
  .previous-work tbody,
  .previous-work th,
  .previous-work td,
  .previous-work tr {
    display: block;
    width: 100%;
    padding: 15px;
  }
  .previous-work h2 {
    font-size: 30px;
    padding: 5px;
    text-align: center;
  }
  .typeOfWork {
    font-family: Arial;
  }
  .cv-profile h2 {
    font-size: 30px;
  }
  .cv-profile p {
    font-size: 16px;
  }
  .cv-profile h3 {
    font-size: 24px;
  }
  .education {
    padding: 10px;
  }
  .education #link-to-utbildning-internal {
    font-size: 45px;
  }
  .education h2 {
    font-size: 30px;
  }
  .education h3 {
    font-size: 24px;
  }
  .education h5 {
    font-size: 16px;
  }
  .contact h2 {
    font-size: 24px;
  }
  .contact p {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding: 5px;
  }
  .aboutMeText {
    padding: 15px;
    font-size: 12px;
  }
  .lofi-video {
    width: 100%;
  }
  .previous-work table,
  .previous-work thead,
  .previous-work tbody,
  .previous-work th,
  .previous-work td,
  .previous-work tr {
    padding: 5px;
  }
  .previous-work h2 {
    font-size: 30px;
    padding: 5px;
    text-align: center;
  }
  .previous-work th {
    font-size: 24px;
    text-align: center;
  }
  .footer {
    margin-bottom: 30px;
  }
  .contact h2 {
    font-size: 30px;
  }
  .contact p {
    font-size: 16px;
  }
  .button {
    background-color: #9b4767;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
  }
  .buttonMail {
    font-size: 12px;
  }
  .button-scroll-to-top {
    bottom: 20px;
    right: 20px;
  }
}/*# sourceMappingURL=portfolio.css.map */